<div class="navigation-bar">
  <ul>
    <li>
      <a href="adminDashboard">
        <span class="icon">
          <ion-icon name="home"></ion-icon>
        </span>
        <span class="title">Green Cleats</span>
      </a>
    </li>

    <li>
      <a href="adminDashboard">
        <span class="icon">
          <ion-icon name="home-outline"></ion-icon>
        </span>
        <span class="title">Dashboard</span>
      </a>
    </li>

    <li>
      <a href="players">
        <span class="icon">
          <ion-icon name="people-outline"></ion-icon>
        </span>
        <span class="title">Players</span>
      </a>
    </li>

    <li>
      <a href="trainers">
        <span class="icon">
          <ion-icon name="person-outline"></ion-icon>
        </span>
        <span class="title">Trainers</span>
      </a>
    </li>

    <li>
      <a href="groundOwners">
        <span class="icon">
          <ion-icon name="person-outline"></ion-icon>
        </span>
        <span class="title">Ground Owners</span>
      </a>
    </li>

    <li>
      <a href="adminApprovalAccounts">
        <span class="icon">
          <ion-icon name="mail-unread-outline"></ion-icon>
        </span>
        <span class="title">Approvals</span>
      </a>
    </li>

    <li>
      <a href="addBlogs">
        <span class="icon">
          <ion-icon name="book-outline"></ion-icon>
        </span>
        <span class="title">Add Blogs</span>
      </a>
    </li>

    <li>
      <a href="viewBlogs">
        <span class="icon">
          <ion-icon name="book-outline"></ion-icon>
        </span>
        <span class="title">View Blogs</span>
      </a>
    </li>

    <li>
      <a href="addEvents">
        <span class="icon">
          <ion-icon name="book-outline"></ion-icon>
        </span>
        <span class="title">Add Event</span>
      </a>
    </li>

    <li>
      <a href="loginAdmin">
        <span class="icon">
          <ion-icon name="log-out-outline"></ion-icon>
        </span>
        <span class="title">Sign Out</span>
      </a>
    </li>
  </ul>
</div>
