/* Login */

body {
  background: linear-gradient(
    to right,
    rgb(106, 246, 243) 0%,
    rgb(86, 241, 238) 30%,
    rgb(134, 244, 211) 30%,
    rgb(91, 249, 236) 100%
  );
}

.login-form-div input,
.login-form-div label {
  display: block;
  margin-top: 1em;
  margin-left: 48px;
  width: 50%;
}

.login-form-div input {
  padding: 0.5em;
}

.login-form-div input[type="submit"] {
  border: none;
  border-radius: 10%;
  background-color: burlywood;
  color: white;
  width: 7em;
  margin-left: 10em;
  margin-top: 4em;
}
.login-form-div form {
  padding: 3%;
}

.login-form-div {
  padding: 4em;
  width: 40vw;
  height: 50vh;
  border: 1px solid black;
  margin: 4.5em auto 0 auto;
  border-radius: 5%;
}
